@import "/home/nutt/.config/nuttshell/colors-gtk.css";

* {
  all: unset;
  font-family: JetBrainsMono Nerd Font Propo, JetBrains Mono, Noto Sans Thai,
    sans-serif;
  font-size: 13px;
}

#waybar {
  background-color: alpha(@ns-bg, 0.8);
  color: @ns-fg;
}

#custom-separator {
  padding: 0;
  color: alpha(@ns-fg-alt, 0.4);
}

.module {
  margin: 0;
  padding: 3px 6px;
}

tooltip {
  background: @ns-bg;
  border: 1px solid @ns-fg-alt;
}

button:hover {
  border-bottom: 2px solid @ns-fg;
  background-color: @ns-bg-hover;
}

#workspaces {
  padding: 0 6px;
}

#workspaces button {
  padding: 0 6px;
  color: @ns-fg-alt;
}

#workspaces button.active {
  border-bottom: 2px solid @ns-accent-alt;
  background-color: @ns-bg-alt;
  color: @ns-fg;
}

#workspaces button.urgent {
  border-bottom: 2px solid @ns-urgent;
  background-color: @ns-bg-alt;
  color: @ns-fg;
}

#tray menu {
  background-color: alpha(@ns-bg, 0.95);
  padding: 6px 8px;
}

#tray menuitem:hover {
  background-color: @ns-bg-alt;
}
