@import "../hypr/colors/mocha.css";

/* Global */
* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font Propo, monospace, Noto Sans Thai, Noto Color Emoji, Noto Sans Mono CJK JP";
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

window#waybar {
  background: transparent;
  /* background: alpha(@base, 0.75); */
  color: @text;
}

/* Base Module Styles */
.module,
#status {
  margin: 6px 3px 1px 3px;
  padding: 3px 10px;
  border-radius: 2em;
  border: 1px solid @surface2;
  background: alpha(@surface0, 0.75);
}

.modules-left:first-child {
  margin-left: 3px;
}

.modules-right:last-child {
  margin-right: 3px;
}

#status .module:hover,
.module:hover {
  padding: 3px 20px;
  color: @base;
  background: @pink;
}

#status {
  padding: 0;
}

#status .module {
  background: transparent;
  margin: 0;
  border: none;
  padding: 3px 6px;
}

#status:first-child {
  padding-left: 10px;
}

#status:last-child {
  padding-right: 10px;
}

/* Tooltip */
tooltip {
  padding: 10px;
  border-radius: 1em;
  border: 1px solid @surface2;
  background: @surface0;
}

tooltip label {
  padding: 0 10px;
  color: @text;
}

/* Individual Modules */
#custom-menu:hover {
  background: @blue;
  color: @base;
}

#mpris.playing {
  color: @base;
  background: @pink;
}

#mpris:hover {
  color: @base;
  background: @green;
}

#mpris.playing:hover {
  color: @base;
  background: @yellow;
}

#submap {
  color: @base;
  background: @pink;
}

#submap.group,
#submap.resize {
  background: @green;
}

#cpu.critical,
#memory.critical,
#temperature.critical,
#battery.critical,
#network.disconnected {
  color: @red;
}

#cpu.high,
#memory.high,
#temperature.warning,
#battery.warning {
  color: @yellow;
}

#battery.full {
  color: @green;
}

/* Tray */
#tray:hover {
  padding: 3px 10px;
  color: @text;
  background: alpha(@surface0, 0.75);
}

#tray image {
  padding: 0px 2px;
}

#tray menu {
  padding: 10px;
  border-radius: 1em;
  border: 1px solid @surface2;
  background: @surface0;
}

#tray menuitem {
  border-radius: 1em;
}

#tray menuitem:hover {
  background: @overlay0;
}

#tray menuitem * {
  padding: 2px;
  transition: all 0.2s ease-in-out;
}

/* Workspaces */
#workspaces:hover {
  padding: 3px 10px;
  color: @text;
  background: alpha(@surface0, 0.75);
}

#workspaces button {
  padding: 0 10px;
  margin: 0 2px;
  border-radius: 1em;
  background: @surface1;
  transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
  background: @overlay0;
}

#workspaces button.active {
  padding: 0 20px;
  color: @base;
  background: @pink;
}

#workspaces button.urgent {
  padding: 0 15px;
  color: @base;
  background: @red;
}

#workspaces button * {
  transition: none;
}
