@import "../hypr/colors/mocha.css";

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font, monospace, Noto Sans Thai, Noto Color Emoji, Noto Sans Mono CJK JP";
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

window#waybar {
  background: alpha(@base, 0.75);
  color: @text;
}

.module {
  margin: 4px;
  padding: 3px 10px;
  border-radius: 1em;
  background: @surface0;
}

.module:hover {
  padding: 3px 20px;
  color: @base;
  background: @pink;
}

tooltip {
  border-radius: 1em;
  background: @surface0;
}

tooltip label {
  padding: 0 10px;
  color: @text;
}

#custom-menu {
  font-family: JetBrainsMono Nerd Font Propo;
}

#custom-menu:hover {
  background: @blue;
  color: @base;
}

#submap {
  color: @base;
  background: @pink;
}

#submap.group,
#submap.resize {
  background: @green;
}

#battery.critical {
  padding: 3px 20px;
  color: @base;
  background: @red;
}

#battery.warning {
  padding: 3px 15px;
  color: @base;
  background: @yellow;
}

#battery.full {
  color: @base;
  background: @green;
}

#battery.charging.critical,
#battery.charging.warning {
  padding: 3px 10px;
  color: @text;
  background: @surface0;
}

#battery.charging:hover,
#battery:hover {
  padding: 3px 20px;
  color: @base;
  background: @pink;
}

#mpris.playing {
  color: @base;
  background: @pink;
}

#mpris:hover {
  color: @base;
  background: @green;
}

#mpris.playing:hover {
  color: @base;
  background: @yellow;
}

#workspaces:hover,
#tray:hover {
  padding: 3px 10px;
  color: @text;
  background: @surface0;
}

#tray image {
  padding: 0px 2px;
}

#tray menu {
  padding: 10px 0px;
  border-radius: 1em;
  background: @surface0;
}

#tray menuitem {
  margin: 0px 20px;
  transition: all 0.2s ease-in-out;
}

#tray menuitem:hover {
  margin: 0px 10px;
  border-radius: 1em;
  background: @overlay0;
}

#workspaces button {
  padding: 0 10px;
  margin: 0 2px;
  border-radius: 1em;
  background: @surface1;
  transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
  background: @overlay0;
}

#workspaces button.active {
  padding: 0 20px;
  color: @base;
  background: @pink;
}

#workspaces button.urgent {
  padding: 0 15px;
  color: @base;
  background: @red;
}

#workspaces button *,
#tray menuitem * {
  transition: none;
}
