binds {
    Alt+Ctrl+Delete hotkey-overlay-title="Power Menu: Toggle" { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
    Alt+space hotkey-overlay-title="App Launcher: Toggle" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Ctrl+Shift+Escape hotkey-overlay-title="Task Manager: Toggle" { spawn "dms" "ipc" "call" "processlist" "toggle"; }
    Super+A hotkey-overlay-title="Control Center: Toggle" { spawn "dms" "ipc" "call" "control-center" "toggle"; }
    Super+Alt+B hotkey-overlay-title="Media: Previous Track" { spawn "dms" "ipc" "call" "mpris" "previous"; }
    Super+Alt+L hotkey-overlay-title="Lock Screen" { spawn "dms" "ipc" "call" "lock" "lock"; }
    Super+Alt+N hotkey-overlay-title="Media: Next Track" { spawn "dms" "ipc" "call" "mpris" "next"; }
    Super+Alt+P hotkey-overlay-title="Media: Play/Pause" { spawn "dms" "ipc" "call" "mpris" "playPause"; }
    Super+D hotkey-overlay-title="Dashboard: Toggle" { spawn "dms" "ipc" "call" "dash" "toggle" ""; }
    Super+N hotkey-overlay-title="Notifications: Toggle" { spawn "dms" "ipc" "call" "notifications" "toggle"; }
    Super+S hotkey-overlay-title="Notepad: Toggle" { spawn "dms" "ipc" "call" "notepad" "toggle"; }
    Super+Shift+Comma hotkey-overlay-title="Settings: Open" { spawn "dms" "ipc" "call" "settings" "open"; }
    Super+Shift+Slash hotkey-overlay-title="Keybinds Cheatsheet: Toggle" { spawn "dms" "ipc" "call" "keybinds" "toggle" "niri"; }
    Super+V hotkey-overlay-title="Clipboard: Toggle" { spawn "dms" "ipc" "call" "clipboard" "toggle"; }
    XF86AudioLowerVolume hotkey-overlay-title="Volume Down (10%)" { spawn "dms" "ipc" "call" "audio" "decrement" "10"; }
    XF86AudioMute hotkey-overlay-title="Volume Mute Toggle" { spawn "dms" "ipc" "call" "audio" "mute"; }
    XF86AudioRaiseVolume hotkey-overlay-title="Volume Up (10%)" { spawn "dms" "ipc" "call" "audio" "increment" "10"; }
    XF86MonBrightnessDown hotkey-overlay-title="Brightness Down (10%)" { spawn "dms" "ipc" "call" "brightness" "decrement" "10" ""; }
    XF86MonBrightnessUp hotkey-overlay-title="Brightness Up (10%)" { spawn "dms" "ipc" "call" "brightness" "increment" "10" ""; }
    Shift+Super+WheelScrollDown cooldown-ms=100 hotkey-overlay-title="Move to Workspace Down" { move-window-down-or-to-workspace-down; }
    Shift+Super+WheelScrollUp cooldown-ms=100 hotkey-overlay-title="Move to Workspace Up" { move-window-up-or-to-workspace-up; }
    Super+0 hotkey-overlay-title="Focus Workspace (by index)" { focus-workspace 0; }
    Super+1 hotkey-overlay-title="Focus Workspace (by index)" { focus-workspace 1; }
    Super+2 hotkey-overlay-title="Focus Workspace (by index)" { focus-workspace 2; }
    Super+3 hotkey-overlay-title="Focus Workspace (by index)" { focus-workspace 3; }
    Super+4 hotkey-overlay-title="Focus Workspace (by index)" { focus-workspace 4; }
    Super+5 hotkey-overlay-title="Focus Workspace (by index)" { focus-workspace 5; }
    Super+6 hotkey-overlay-title="Focus Workspace (by index)" { focus-workspace 6; }
    Super+7 hotkey-overlay-title="Focus Workspace (by index)" { focus-workspace 7; }
    Super+8 hotkey-overlay-title="Focus Workspace (by index)" { focus-workspace 8; }
    Super+9 hotkey-overlay-title="Focus Workspace (by index)" { focus-workspace 9; }
    Super+Ctrl+Down hotkey-overlay-title="Move Workspace Down" { move-workspace-down; }
    Super+Ctrl+J hotkey-overlay-title="Move Workspace Down" { move-workspace-down; }
    Super+Ctrl+K hotkey-overlay-title="Move Workspace Up" { move-workspace-up; }
    Super+Ctrl+Up hotkey-overlay-title="Move Workspace Up" { move-workspace-up; }
    Super+Down hotkey-overlay-title="Focus Down" { focus-window-or-workspace-down; }
    Super+J hotkey-overlay-title="Focus Down" { focus-window-or-workspace-down; }
    Super+K hotkey-overlay-title="Focus Up" { focus-window-or-workspace-up; }
    Super+Shift+0 hotkey-overlay-title="Move to Workspace (by index)" { move-column-to-workspace 0; }
    Super+Shift+1 hotkey-overlay-title="Move to Workspace (by index)" { move-column-to-workspace 1; }
    Super+Shift+2 hotkey-overlay-title="Move to Workspace (by index)" { move-column-to-workspace 2; }
    Super+Shift+3 hotkey-overlay-title="Move to Workspace (by index)" { move-column-to-workspace 3; }
    Super+Shift+4 hotkey-overlay-title="Move to Workspace (by index)" { move-column-to-workspace 4; }
    Super+Shift+5 hotkey-overlay-title="Move to Workspace (by index)" { move-column-to-workspace 5; }
    Super+Shift+6 hotkey-overlay-title="Move to Workspace (by index)" { move-column-to-workspace 6; }
    Super+Shift+7 hotkey-overlay-title="Move to Workspace (by index)" { move-column-to-workspace 7; }
    Super+Shift+8 hotkey-overlay-title="Move to Workspace (by index)" { move-column-to-workspace 8; }
    Super+Shift+9 hotkey-overlay-title="Move to Workspace (by index)" { move-column-to-workspace 9; }
    Super+Shift+Down hotkey-overlay-title="Move to Workspace Down" { move-window-down-or-to-workspace-down; }
    Super+Shift+J hotkey-overlay-title="Move to Workspace Up" { move-window-down-or-to-workspace-down; }
    Super+Shift+K hotkey-overlay-title="Move to Workspace Up" { move-window-up-or-to-workspace-up; }
    Super+Shift+Tab hotkey-overlay-title="Focus Previous Workspace" { focus-workspace-previous; }
    Super+Shift+Up hotkey-overlay-title="Move to Workspace Up" { move-window-up-or-to-workspace-up; }
    Super+Tab { focus-workspace-previous; }
    Super+Up hotkey-overlay-title="Focus Up" { focus-window-or-workspace-up; }
    Super+WheelScrollDown cooldown-ms=100 hotkey-overlay-title="Focus Workspace Down" { focus-workspace-down; }
    Super+WheelScrollUp cooldown-ms=100 hotkey-overlay-title="Focus Workspace Up" { focus-workspace-up; }
    Alt+Print hotkey-overlay-title="Screenshot Window" { screenshot-window; }
    Super+Alt+F hotkey-overlay-title="Switch Floating/Tiling Focus" { switch-focus-between-floating-and-tiling; }
    Super+C hotkey-overlay-title="Center Column" { center-column; }
    Super+Comma hotkey-overlay-title="Consume Window" { consume-window-into-column; }
    Super+Ctrl+Equal hotkey-overlay-title="Set Window Height" { set-window-height "+5%"; }
    Super+Ctrl+F hotkey-overlay-title="Fullscreen" { fullscreen-window; }
    Super+Ctrl+Minus hotkey-overlay-title="Set Window Height" { set-window-height "-5%"; }
    Super+End hotkey-overlay-title="Focus Last Column" { focus-column-last; }
    Super+Equal hotkey-overlay-title="Set Column Width" { set-column-width "+10%"; }
    Super+F hotkey-overlay-title="Toggle Floating" { toggle-window-floating; }
    Super+G hotkey-overlay-title="Toggle Tabbed" { toggle-column-tabbed-display; }
    Super+H hotkey-overlay-title="Focus Left" { focus-column-left; }
    Super+Home hotkey-overlay-title="Focus First Column" { focus-column-first; }
    Super+L hotkey-overlay-title="Focus Right" { focus-column-right; }
    Super+Left hotkey-overlay-title="Focus Left" { focus-column-left; }
    Super+Minus hotkey-overlay-title="Set Column Width" { set-column-width "-10%"; }
    Super+Period hotkey-overlay-title="Expel Window" { expel-window-from-column; }
    Super+Q hotkey-overlay-title="Close Window" { close-window; }
    Super+R hotkey-overlay-title="Cycle Column Width" { switch-preset-column-width; }
    Super+Right hotkey-overlay-title="Focus Right" { focus-column-right; }
    Super+Shift+End hotkey-overlay-title="Move to Last" { move-column-to-last; }
    Super+Shift+Equal hotkey-overlay-title="Set Column Width" { set-column-width "+5%"; }
    Super+Shift+F hotkey-overlay-title="Maximize Column" { maximize-column; }
    Super+Shift+H hotkey-overlay-title="Move Left" { move-column-left; }
    Super+Shift+Home hotkey-overlay-title="Move to First" { move-column-to-first; }
    Super+Shift+L hotkey-overlay-title="Move Right" { move-column-right; }
    Super+Shift+Left hotkey-overlay-title="Move Left" { move-column-left; }
    Super+Shift+Minus hotkey-overlay-title="Set Column Width" { set-column-width "-5%"; }
    Super+Shift+R hotkey-overlay-title="Cycle Window Height" { switch-preset-window-height; }
    Super+Shift+Right hotkey-overlay-title="Move Right" { move-column-right; }
    Print hotkey-overlay-title="Screenshot (Interactive)" { screenshot; }
    Shift+Print hotkey-overlay-title="Screenshot Screen" { screenshot-screen write-to-disk=true; }
    Super+Shift+S hotkey-overlay-title="Screenshot (Interactive)" { screenshot; }
    Super+B hotkey-overlay-title="Open Browser (brave)" { spawn "brave"; }
    Super+E hotkey-overlay-title="Open File Manager (yazi)" { spawn "kitty" "-1" "fish" "-c" "yazi"; }
    Super+O hotkey-overlay-title="Open Note-taking App (obsidian)" { spawn "obsidian"; }
    Super+Return hotkey-overlay-title="Open Terminal (kitty)" { spawn "kitty" "-1"; }
    Super+T hotkey-overlay-title="Open Terminal (kitty)" { spawn "kitty" "-1"; }
    Super+W hotkey-overlay-title="Toggle Overview" { toggle-overview; }
    Super+space hotkey-overlay-title="Keyboard Layout: Next" { switch-layout "next"; }
}
