:root {
  --ns-red: #CC241D;
  --ns-purple: #B16286;
  --ns-purple-alt: #D3869B;
  --ns-accent: var(--ns-purple);
  --ns-accent-alt: var(--ns-purple-alt);
  --ns-fg: #EBDBB2;
  --ns-fg-alt: #A89984;
  --ns-bg: #282828;
  --ns-bg-alt: #3C3836;
  --ns-bg-hover: var(--ns-bg-alt);
  --ns-urgent: var(--ns-red);
}
